<footer class="global-footer">
    <div class="footer-container">
        <div class="footer-directory">
            <div class="directory-column">
                <h3>Grandeur Keys</h3>
                <ul>
                    <li><a href="#">Our Philosophy</a></li>
                    <li><a href="#">Design Heritage</a></li>
                    <li><a href="#">Sustainability</a></li>
                    <li><a href="#">Pressroom</a></li>
                </ul>
            </div>

            <div class="directory-column">
                <h3>Services</h3>
                <ul>
                    <li><a href="#">Bespoke Butler</a></li>
                    <li><a href="#">Private Aviation</a></li>
                    <li><a href="#">Yacht Charters</a></li>
                    <li><a href="#">Wellness Spas</a></li>
                </ul>
            </div>

            <div class="directory-column">
                <h3>Support</h3>
                <ul>
                    <li><a href="#">Contact Concierge</a></li>
                    <li><a href="#">Booking Policies</a></li>
                    <li><a href="#">Safety Guidelines</a></li>
                    <li><a href="#">Accessibility</a></li>
                </ul>
            </div>
        </div>

        <!-- Footer Copyright / Policy Bar -->
        <div class="footer-legal">
            <div class="legal-left">
                <span class="copyright">Copyright © 2026 Grandeur Keys Inc. All rights reserved.</span>
            </div>
            <div class="legal-right">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Use</a>
                <a href="#">Sales and Refunds</a>
                <a href="#">Legal Info</a>
            </div>
        </div>
    </div>
</footer>